

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-code"></i> Agenda do Mello</a>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <a class="navbar-brand" href="{% url 'dashboard' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
      <a class="navbar-brand" href="{% url 'cadastro' %}"><i class="fas fa-address-book"></i> Cadastro</a>
      <a class="navbar-brand" href="{% url 'sobre' %}"><i class="fas fa-address-book"></i> Sobre</a>

      </button>
    </div>
  </nav>
