{% extends 'base.html' %}
{% load static %}

{% block 'conteudo' %}
<div class="card-group" style="margin-top: 50px;">
    <div class="card">
      <img class="card-img-top" src="{% static 'vendor/400-gecs.jpg' %}" alt="Card image cap"style="height: 247px;">
      <div class="card-body">
        <h5 class="card-title"style="text-align: center;"><strong>Objetivo</strong></h5>
        <p class="card-text"style="text-align: center;"s>Treinar meus conhecimentos acerca do framework Django</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'vendor/mello.jpg' %}" alt="Card image cap" style="height: 247px;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;"><strong>Criador</strong></h5>
        <p class="card-text" style="text-align: center;">Antônio Mello Babo </p><p style="text-align: center;">Estudante de Ciências da Computação - PUC</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static 'vendor/400-gecs.jpg' %}" alt="Card image cap"style="height: 247px;">
      <div class="card-body">
        <h5 class="card-title"style="text-align: center;"><strong>Style provided by: 100gecs</strong></h5>
        <p class="card-text"style="text-align: center;">gecgecgecgecgecgecgecgecgecgecgecgec</p>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>

{% endblock %}